:root {
    --corPrimaria: #4D2F59; 
    --corSecundaria: #684073;  
    --corTerciaria: #F2EBDF;  
    --corQuatro: #AAA9D6; 
    --fonte10:arial;
    --fonte30: 'Courier New', monospace;
    --fonte60: "Imperial Script", serif;
}

/* Resetando margens e padding */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body{
    font-family: var(--fonte30);
    background: var(--corPrimaria);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
    border: 4px solid #AAA9D6;
}

/* HEADER */

.logo {
    float: left;
    color: var(--corTerciaria);
    font-size: 30px;
    font-weight: bold;
    padding: 14px 20px;
}
.navbar{
    grid-column: 1 / -1; /* O header ocupa toda a largura */
    display: grid;
    grid-template-columns: 3fr 9fr; /* Logo à esquerda, links à direita */
    align-items: center;
    height: 100px; /* Altura do header */
    background-color: var(--corSecundaria);
    padding: 0 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10; /* Coloca o header acima de outros elementos */

}
.nav-links {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.nav-item {
    color: var(--corTerciaria);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
}

.nav-item .nav-icon {
    width: 35px; /* Tamanho das imagens */
    height: 35px;
    object-fit: contain;
}

.nav-item:hover {
    color: var(--corQuatro);
    border-top: 4px solid var(--corQuatro);
}


/* HERO */
.hero {
    grid-column: 1 / -1; /* O hero ocupa toda a largura */
    display: grid;
    grid-template-columns: 6fr 6fr; /* 50% para imagem e 50% para o texto */
    align-items: center;
    height: 100vh; /* Altura total do viewport */
    width: 100%;
    position: relative;
}

.hero-text {
    padding: 50px;
    border: 4px solid #AAA9D6;
    color: var(--corTerciaria);
    margin-left: 10%;
    
    
}

.hero-text h1 {
    font-size: 80px;
    margin-bottom: 20px;
    font-family: var(--fonte60);
    text-shadow: 3px 3px 3px #ababab;
}

.hero-text p {
    font-size: 20px;
}

.hero-image img {
    position: absolute;
    transform: translateY(-50%);
    border: 4px solid #AAA9D6;
    width: 40%;
    border-radius: 10%;
    z-index: 5;
    
}
