body{
    margin:0;
    background-color: var(--corPrimaria);
}
:root{
    --fonte:arial;
    --corQuatro: #AAA9D6;
    --corTerciaria:#F2EBDF;
    --corSecundaria:#684073;
    --corPrimaria: #4D2F59;
    --fonte10:arial;
    --fonte30:'Courier New', monospace;
    --fonte60: 'Brush Script MT', cursive;

}
header{
    background-color: var(--corSecundaria);
    height: 80px;
    text-align: right;
}
.nav{
    padding: 30px;
    font-family: var(--fonte30);
}
.nav a{
    margin-right: 2%;
    text-decoration: none;
    color:#F2E6CE;
    font-size:20px;
}
.nav a:hover{
    color:var(--corQuatro);
    border-top: 4px solid var(--corQuatro)
}