/* FORMATAÇÃO GERAL */
:root{
    --fonte:arial;
    --corQuatro: #AAA9D6;
    --corTerciaria:#F2EBDF;
    --corSecundaria:#684073;
    --corPrimaria: #4D2F59;
    --fonte10:arial;
    --fonte30:'Courier New', monospace;
    --fonte60: "Imperial Script", serif;
}
body {
    margin: 0;
    background: var(--corPrimaria);
    padding-top: 50px;
}

/* BARRA DE NAVEGAÇÃO */
.navbar {
    background-color: var(--corSecundaria);
    overflow: hidden;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
.logo {
    float: left;
    color: var(--corTerciaria);
    font-size: 20px;
    font-weight: bold;
    padding: 14px 20px;
}
.navbar ul {
    margin: 5px;
    padding: 0;
    list-style: none;
    float: right;
}
.navbar li {
    float: left;
    font-family: var(--fonte30);
}
.navbar li a {
    display: inline-block;
    color: var(--corTerciaria);
    text-decoration: none;
    padding: 14px 20px;
    margin-right: 5px;
}
.navbar li a:hover {
    color:var(--corQuatro);
    border-top: 4px solid var(--corQuatro);
}
.contact-btn{
    background: var(--corTerciaria);
    padding: 10px 20px;
    color:var(--corTerciaria);
    border-radius: 5px;
    margin-right: 5px;
    
}
.contact-btn:hover{
    background:var(--corQuatro);
    color: var(--corPrimaria); 
}

/* HERO - PAGINA INICIAL */
.hero {
    height: 80vh;
    background-color: var(--corPrimaria);
    position: relative; /* Garante que o z-index funcione se necessário */
    z-index: 1; /* Um valor menor que a navbar */
}
.hero-text {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    color: var(--corTerciaria);
}
.hero-text h1 {
    font-size: 100px;
    margin: 0;
    font-family: var(--fonte60);
    text-shadow: 3px 3px 3px #ababab;
}
.hero-text p {
    font-size: 20px;
    margin-right: 5%;
}
.hero-image {
    width: 30%;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
}
.hero-image img {
    width: 100%;
    border-radius: 10%;
}

/* INTRODUÇÃO - FALANDO SOBRE MIM */
.intro{
    height: 70vh;
    background-color: var(--corSecundaria);
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    text-align: center;
    white-space: nowrap;
}
.textIntro {
    font-size: 40px;
    font-weight: normal;
    color: var(--corQuatro);
    font-family: var(--fonte30);
}
.ftIntro-container {
    width: 100%;
    position: relative;
}
.ftIntro {
    position: relative;
    white-space: nowrap;
}
.ftIntro img {
    display: inline-block;
    border-radius: 10px;
    vertical-align: middle;
    margin-top: 2%;
}
.ftIntro img.center {
    width: 30%;
    transform: scale(1);
}
.ftIntro img.side {
    width: 15%;
    opacity: 0.8;
}
.descricao{
    margin-top: 20px;
    font-size: 18px;
    color: var(--corTerciaria);
    text-align: center;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
/* FORMATAÇÃO HISTORICO */
.historico_container{
    height: 100vh;
    background-color: var(--corSecundaria);
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    text-align: center;
    white-space: nowrap;
}
.historico{
    width: 80%;
    margin-left: 10%;
}
.historico th, td {
    text-align: center;
    padding: 8px;
    border: 2px solid var(--corQuatro);
}
.historico th {
    background-color: var(--corQuatro);
    color: var(--corPrimaria)
}
.historico td{
    color: var(--corTerciaria);
}

/* FORMATAÇÃO CARDS CURIOSIDADES */
.card_container{
    height: 60vh;
    background-color: var(--corSecundaria);
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    text-align: center;
    white-space: nowrap;
}
.card {
    width: 15%;
    background-color: var(--corPrimaria);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5px;
    display: inline-block;  /* Usando inline-block para alinhar os cards */
    text-align: center;
    padding: 20px;
    vertical-align: top;  /* Para garantir que os cards se alinhem corretamente */
    transition: transform 0.3s ease-in-out;
}
.card img {
    width: 80%;
    border-radius: 8px;
}
.card h3 {
    margin-top: 10px;
    font-size: 18px;
    color: var(--corQuatro);
}
.card p {
    color: var(--corTerciaria);
    font-size: 14px;
}
.card:hover {
    transform: translateY(-10px);
}

/* FORMATAÇÃO HABI - VIVENCIAS */

.container_Hab{
    height: 30vh;
    background-color: var(--corSecundaria);
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    text-align: center;
    white-space: nowrap;
}
.card_Hab {
    width: 15%;
    background-color: var(--corPrimaria);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5px;
    display: inline-block;  /* Usando inline-block para alinhar os cards */
    text-align: center;
    padding: 20px;
    vertical-align: top;  /* Para garantir que os cards se alinhem corretamente */
    transition: transform 0.3s ease-in-out;
}
.card_Hab p {
    color: var(--corTerciaria);
    font-size: 14px;
}
.card_Hab:hover {
    transform: translateY(-10px);
}

.container_vive{
    height: 50vh;
    background-color: var(--corSecundaria);
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    text-align: center;
    white-space: nowrap;
}
.imagem {
    float: left;
    margin-right: 20px; /* Espaço entre a imagem e o texto */
    width: 200px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
    margin-left: 15px;
    border-radius: 50%;
}
.texto {
    overflow: hidden;
    text-align: left; /* Garante que o texto se ajuste corretamente ao lado da imagem */
}
.texto p {
    color: var(--corTerciaria);
    line-height:1.0;
    font-size: 20px;
}