:root {
    --corPrimaria: #4D2F59; 
    --corSecundaria: #684073;  
    --corTerciaria: #F2EBDF;  
    --corQuatro: #F2EBDF; 
    --fonte10:arial;
    --fonte30: 'Courier New', monospace;
    --fonte60: "Imperial Script", serif;
}

/* Resetando margens e padding */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body{
    font-family: var(--fonte30);
    background: var(--corPrimaria);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
    padding-top: 50px;  /* Ajuste para evitar que o conteúdo fique embaixo da navbar fixa */
}

/* HEADER */
.navbar{
    grid-column: 1 / -1; /* O header ocupa toda a largura */
    display: grid;
    grid-template-columns: 3fr 9fr; /* Logo à esquerda, links à direita */
    align-items: center;
    height: 80px; /* Altura do header */
    background-color: var(--corSecundaria);
    padding: 0 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;

}

.logo {
    float: left;
    color: var(--corTerciaria);
    font-size: 20px;
    font-weight: bold;
    padding: 14px 20px;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    
}

.nav-item {
    color: var(--corTerciaria);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
}

.nav-item .nav-icon {
    width: 24px; /* Tamanho das imagens */
    height: 24px;
    object-fit: contain;
}

.nav-item:hover {
    color: var(--corQuatro);
    border-top: 4px solid var(--corQuatro);
}

/* HERO */
.hero {
    grid-column: 1 / -1; /* O hero ocupa toda a largura */
    display: grid;
    grid-template-columns: 6fr 6fr; /* 50% para imagem e 50% para o texto */
    align-items: center;
    height: 100vh; /* Altura total do viewport */
    background-color: #f4f4f4;
    padding: 0 20px;
}

.hero-text {
    padding: 50px;
}

.hero-text h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1.5em;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
